<section class="panel">
    <div class="panel-body">
        <section id="unseen">
            <table class="table table-bordered table-striped table-condensed" cg-busy="{promise:promise,message:message}">
                <thead>
                    <tr>
                        <th class="big-font">Pick-up Date</th>
                        <th class="big-font">Consignor</th>
                        <th class="big-font">Consignee</th>
                        <th class="big-font numeric">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="consignment in consignments">
                        <td style="width:40%">
                            <div>^^consignment.pickupDate^^</div>
                        </td>
                        <td style="width:40%">
                            <div>^^consignment.consignor.name^^</div>
                        </td>
                        <td style="width:40%">
                            <div>^^consignment.consignee.name^^</div>
                        </td>
                        <td class="numeric">
                            <div>
                                <button ng-click="editInline($index)" type="button" class="btn btn-lg btn-warning">Edit</button>
                                <button ng-click="confirmDelete($index)" type="button" class="btn btn-lg btn-danger">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button ng-click="add()" type="button" class="btn btn-default btn-lg">Add Consignment</button>
        </section>
    </div>
</section>

<div ng-include="'../static/js/app/views/alert.html'" />