<section class="panel">
    <div class="panel-body">
        <section id="unseen">
            <section class="panel">
                <header class="panel-heading">Entity</header>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Name</label>
                            <input ng-model="entity.name" type="text" class="form-control" placeholder="Entity name">
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <input ng-model="entity.type" type="text" class="form-control" placeholder="Entity type">
                        </div>
                        <div class="form-group">
                                <label>Address</label>
                                <input ng-model="entity.tenancy" type="text" class="form-control" placeholder="Tenancy">
                                <input ng-model="entity.street_num" type="text" class="form-control" placeholder="Street #">
                                <input ng-model="entity.street" type="text" class="form-control" placeholder="Street">
                                <input ng-model="entity.town"  type="text" class="form-control" placeholder="Town">
                                <input ng-model="entity.postcode"  type="text" class="form-control" placeholder="Postcode">
                                <input ng-model="entity.state"  type="text" class="form-control" placeholder="State">
                                <input ng-model="entity.country"  type="text" class="form-control" placeholder="Country">
                        </div>
                        <button ng-click="save()" type="button" class="btn btn-info">Save</button>
                    </form>
                </div>
            </section>
        </section>
    </div>
</section>

<div ng-include="'../static/js/app/views/alert.html'" />