<section class="panel">
    <div class="panel-body">
        <section id="unseen">
            <table class="table table-bordered table-striped table-condensed" cg-busy="{promise:promise,message:message}">
                <thead>
                    <tr>
                        <th class="big-font">Name</th>
                        <th class="big-font">Type</th>
                        <th class="big-font numeric">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entity in entities">
                        <td style="width:40%">
                            <div class="big-font">^^entity.name^^</div>
                        </td>
                        <td style="width:40%">
                            <div class="big-font">^^entity.type^^</div>
                        </td>
                        <td class="numeric">
                            <div>
                                <button ng-click="editInline($index)" type="button" class="btn btn-lg btn-warning">Edit</button>
                                <button ng-click="confirmDelete($index)" type="button" class="btn btn-lg btn-danger">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="#/entities/new" class="btn btn-default btn-lg">Add Entity</a>
        </section>
    </div>
</section>

<div ng-include="'../static/js/app/views/alert.html'" />