<div ng-controller="LoginController" class="form-signin" style="margin-top:0px">
    <h2 cg-busy="{promise:promise,message:message}" class="form-signin-heading">Login to D&Z</h2>
        <div class="login-wrap">
            <input ng-model="username" type="text" class="form-control" placeholder="Username" autofocus="">
            <input ng-model="password" ng-enter="login()" type="password" class="form-control" placeholder="Password">
            <button ng-click="login()" class="btn btn-lg btn-login btn-block">Sign in</button>

        </div>

          <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Forgot Password ?</h4>
                      </div>
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                          <button class="btn btn-success" type="button">Submit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->

      </div>


<div ng-include="'../static/js/app/views/alert.html'" />