<!DOCTYPE html>
<html>

<head>
    <title>D&Z Exploration</title>

    <!-- Stylesheet starts -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-reset.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/angular-busy.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style-responsive.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/directives/date-picker/styles/mixins.less">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/directives/date-picker/styles/style.less">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/directives/date-picker/styles/variables.less">
    <!-- Stylesheet ends -->

</head>

<body ng-app="dz" class="full-width">

    <section id="container" class="">
        <!--header start-->
        <header class="header white-bg">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--logo start-->
                <a href="#" class="logo" >D<span>&Z</span> Admin</a>
                <!--logo end-->

                <div class="horizontal-menu navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: $root.activeMenu === 'Lease Management'}">
                            <a class="big-font" href="#/leases">Lease Management</a>
                        </li>
                        <li ng-class="{active: $root.activeMenu === 'Reports'}">
                            <a class="big-font" href="#/reports">Reports</a>
                        </li>
                        <li ng-class="{active: $root.activeMenu === 'Users'}">
                            <a class="big-font" href="#/users">App Users</a>
                        </li>
                    </ul>
                </div>

                <div class="top-nav ">
                    <ul class="nav pull-right top-menu">

                        <li>
                            <input type="text" class="form-control search" placeholder=" Search">
                        </li>

                        <!-- user login dropdown start-->
                        <li ng-if="$root.currentUser" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <img alt="" src="">
                                <span class="username">^^$root.currentUser.username^^</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <div class="log-arrow-up"></div>
                                <li><a><i class=" icon-suitcase"></i>Change Password</a></li>
                                <li><a style="cursor:pointer" ng-click="$root.logout()"><i class="icon-key"></i> Log Out</a></li>
                            </ul>
                        </li>
                        <!-- user login dropdown end -->

                    </ul>
                </div>

            </div>

        </header>
        <!--header end-->

        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div ng-view></div>
                </div>
            </div>
        </section>

        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2014 &copy; D&Z.
                <a href="#" class="go-top">
                    <i class="icon-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->

    </section>

    <!-- script starts -->
    <script src="{{ STATIC_URL }}js/libs/jquery/jquery.2.0.2.js"></script>
    <script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/angular/angular.js"></script>
    <script src="{{ STATIC_URL }}js/libs/angular/angular-animate.js"></script>
    <script src="{{ STATIC_URL }}js/libs/angular/angular-resource.js"></script>
    <script src="{{ STATIC_URL }}js/libs/angular/angular-route.js"></script>
    <script src="{{ STATIC_URL }}js/libs/angular/angular-storage.js"></script>
    <script src="{{ STATIC_URL }}js/libs/busy/angular-busy.js"></script>
    <script src="{{ STATIC_URL }}js/libs/others/respond.min.js" ></script>
    <script src="{{ STATIC_URL }}js/libs/others/pdfmake.min.js" ></script>
    <script src="{{ STATIC_URL }}js/libs/others/vfs_fonts.js" ></script>
    <script src="{{ STATIC_URL }}js/libs/bootstrap/ui-bootstrap-0.11.0.js"></script>
    <script src="{{ STATIC_URL }}js/directives/date-picker/scripts/datePicker.js"></script>
    <script src="{{ STATIC_URL }}js/directives/date-picker/scripts/dateRange.js"></script>
    <script src="{{ STATIC_URL }}js/directives/date-picker/scripts/input.js"></script>
    <script src="{{ STATIC_URL }}js/app/app.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/auth-services.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/lease-services.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/sheet-service.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/sub-sheet-service.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/field-service.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/data-service.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/report-service.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/report-manager.js"></script>
    <script src="{{ STATIC_URL }}js/app/controllers/login-controller.js"></script>
    <script src="{{ STATIC_URL }}js/app/controllers/user-controller.js"></script>
    <script src="{{ STATIC_URL }}js/app/controllers/lease-controller.js"></script>
    <script src="{{ STATIC_URL }}js/app/controllers/sheet-controller.js"></script>
    <script src="{{ STATIC_URL }}js/app/controllers/sub-sheet-controller.js"></script>
    <script src="{{ STATIC_URL }}js/app/controllers/field-controller.js"></script>
    <script src="{{ STATIC_URL }}js/app/controllers/data-controller.js"></script>
    <script src="{{ STATIC_URL }}js/app/controllers/report-controller.js"></script>
    <!-- script ends -->


</body>

</html>