<section class="panel">
    <header class="panel-heading">
        <div style="float:left;width:100%">
             <ul class="breadcrumb" style="float:left;text-align:left;width:50%">
                <li class="big-font">
                    <a href="#/leases">Leases</a>
                </li>
                <li class="big-font">
                    ^^lease.name^^
                </li>
                <li class="big-font">
                    <a href="#/leases/^^lease.id^^/sheets">Sheets</a>
                </li>
                 <li class="big-font">
                     ^^sheet.name^^
                 </li>
                 <li class="big-font">
                     <a href="#/data/leases/^^lease.id^^/sheets/^^sheet.id^^/month/^^selectedMonth^^/year/^^selectedYear^^">Data</a>
                 </li>
            </ul>
            <div style="float:left;text-align:right;width:50%">
                <div style="width:100%"></div>
                <ul class="breadcrumb" style="text-align:right">
                    <li class="big-font">
                        <p class="input-group">
                        <input type="text"
                               style="width:200px;text-align:right !important"
                               ng-disabled="true"
                               class="form-control col-md-3 big-font"
                               datepicker-popup="MMM-yyyy"
                               min-mode="month"
                               datepicker-mode="month"
                               ng-model="selectedDate"
                               is-open="opened"
                               close-on-date-selection="true"
                               date-disabled="disabled(date, mode)"
                               show-button-bar="false"
                               show-weeks="false"/>
                            <button style="float:left" type="button" class="btn btn-default" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="panel-body" style="clear:both">
        <section id="unseen">
            <table cg-busy="{promise:promise,message:message}" class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th ng-if="data.length > 0" class="big-font" style="width:5%">Day</th>
                        <th ng-repeat="field in data[0].fields" class="big-font">^^field.name^^</th>
                        <th ng-if="data.length > 0" class="big-font" class="numeric" style="width:15%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dataItem in data">
                        <td class="big-font">^^dataItem.date.day^^</td>
                        <td ng-if="!dataItem.editing" ng-repeat="field in dataItem.fields" class="big-font" style="text-align:center;">
                            <span style="margin-top:-15px">^^field.value^^</span>
                        </td>
                        <td ng-if="dataItem.editing" ng-repeat="field in dataItem.fields">
                            <input ng-model="field.value" class="form-control round-input big-font" type="text"/>
                        </td>
                        <td>
                            <div ng-if="!dataItem.editing" style="text-align:center">
                                <button ng-click="editInline(dataItem)" type="button" class="btn btn-warning btn-lg">Edit</button>
                            </div>
                            <div ng-if="dataItem.editing" style="text-align:center">
                                <button ng-click="save(dataItem)" type="button" class="btn btn-success btn-lg">Update</button>
                                <button ng-click="cancelEditing(dataItem)" type="button" class="btn btn-primary btn-lg">Cancel</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="big-font">Total:</td>
                        <td ng-repeat="total in totals">
                            <span class="big-font" style="margin-top:-15px">^^total^^</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="big-font">Average:</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</section>

<div route-loader class="alert alert-success loader">Loading...</div>