<section class="panel">
    <header class="panel-heading">
        <ul class="breadcrumb">
            <li class="big-font">
                <span>Users</span>
            </li>
            <li class="big-font">
                All
            </li>
        </ul>
    </header>
    <div class="panel-body">
        <section id="unseen">
            <table class="table table-bordered table-striped table-condensed" cg-busy="{promise:promise,message:message}">
                <thead>
                    <tr>
                        <th class="big-font">Username</th>
                        <th class="big-font numeric">Email</th>
                        <th class="big-font">First Name</th>
                        <th class="big-font">Last Name</th>
                        <th class="big-font">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>
                            <div>
                                ^^user.username^^
                            </div>
                        </td>
                        <td>
                            <div>
                                ^^user.email^^
                            </div>
                        </td>
                        <td>
                            <div>
                                ^^user.first_name^^
                            </div>
                        </td>
                        <td>
                            <div>
                                ^^user.last_name^^
                            </div>
                        </td>
                        <td>
                            <div ng-if="!user.editing">
                                <button ng-click="changeInline($index)" type="button" class="btn btn-warning btn-lg">Change Password</button>
                            </div>
                            <div ng-if="user.editing">
                                <input ng-model="user.newPassword" style="width:200px" class="form-control round-input big-font" type="password"/>
                                <button ng-click="changePassword($index)" type="button" class="btn btn-lg btn-success">Change</button>
                                <button ng-click="cancelChange($index)" type="button" class="btn btn-primary btn-lg">Cancel</button>
                            </div>
                        </td>
                </tbody>
            </table>
        </section>
    </div>
</section>

<div route-loader class="alert alert-success loader">Loading...</div>
<div ng-include="'../static/js/app/views/alert.html'" />